.container{
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: 100px;
    outline: 1px solid black;
  }

  .box{
    position: relative;
    width: 10px;
    height: 10px;
    
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1) ;
    
   
   
    animation-name: figure;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    
  }

@keyframes figure{
    0%{
        top: 0;
        left:0;
        background-color: red;
      }
    25%{
        left: 0;
       top:90px;
       background-color: yellow;
     }
   
    50%{
        top: 90px;
        left: 90px;
       background-color: green;
    }
    75%{
       left: 90px;
        top: 0;
        background-color: blue;
        }
    100%{
     left: 0;
     background-color: red;


}
}

 